# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your name below

In [ ]:
# Write your answer here
print("Ihan Do")

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"

In [ ]:
# Write your answer here:
print("I will abide by Emory's code of conduct")

<font size = "5">

Import the libraries "numpy" and "pandas"

In [1]:
# Write your answer here
import pandas as pd
import numpy as np


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/constructors.csv" file
- Replace the values "British", "American", and "Dutch" with <br>
"UK", "USA", "Netherlands" in the column "nationality"


HINT: See the example in Lecture 12

In [3]:
# Write your own code
constructors = pd.read_csv("data_raw/constructors.csv")
list_old = ["British", "American", "Dutch"]
list_new = ["UK", "USA", "Netherlands"]
constructors["nationality"] = constructors["nationality"].replace(list_old, list_new)

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,UK,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,UK,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,UK,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,USA,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,UK,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team

<font size = "5">


<span style="color:red"> For QUESTIONS (b)-(e): </span>

<span style="color:red"> Import the "data_raw/sprint_results.csv" file </span>


(b) Recode a numeric colum

<font size = "3">

- Recode the "points" column into a new column "points_brackets" <br>
with the following categories

$\qquad$ ``` ["0-20","21-30","31-100"] ```

$\qquad$ HINT: Use the "pd.cut()" command. See Lecture 12 <br>
$\qquad$ HINT: Be careful about the left and right points of <br>
$\qquad$ interval to make sure that you classify the points correctly

In [7]:
# Write your own code:
sprint = pd.read_csv("data_raw/sprint_results.csv")
binsx = [-1, 20, 30, 100]
labelsx = ["0-20", "21-30", "31-100"]
sprint["points_brackets"] = pd.cut(sprint["points"], bins = binsx, right=True, labels=labelsx)
sprint

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId,points_brackets
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1,0-20
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1,0-20
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1,0-20
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1,0-20
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1,0-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,1095,840,117,18,15,16,16,16,0,24,+50.700,1862007,4,1:15.425,1,0-20
116,117,1095,839,214,31,6,17,17,17,0,24,+51.756,1863063,5,1:16.097,1,0-20
117,118,1095,4,214,14,7,18,18,18,0,24,+53.985,1865292,5,1:14.764,1,0-20
118,119,1095,849,3,6,16,19,19,19,0,24,+1:16.850,1888157,4,1:16.525,1,0-20
119,120,1095,848,3,23,11,\N,R,20,0,12,\N,\N,4,1:15.998,31,0-20

<font size = "5">

(c) Aggregate and query

<font size = "3">

- Subset the observations for 'raceId <= 1070' using ```.query()```
- Obtain the maximum of "points" by "driverId" <br>  using ``` .groupby().agg() ``` and save this to <br>
a new dataset called "aggregate_data"
- From "aggregate_data" subset the drivers with a maximum number of points $>= 1$
- Display the resulting dataset


Hint: See Lecture 15

In [9]:
# Write your own code
aggregate_data = (sprint.query("raceId <= 1070")
                .groupby("driverId")
                .agg(max_points = ('points', 'max')))
aggregate_subset = aggregate_data.query("max_points >= 1")
display(aggregate_subset)

          max_points
driverId
1                  2
817                1
822                3
830                3

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Obtain the mean of "points" by "driverId" <br>  using ``` .groupby().agg() ```
- Sort the drivers in descending order using of <br>
the mean of points using ``` .sort_values() ```


Hint: See Lecture 15

In [12]:
# Write your own code
mean = (sprint.groupby("driverId")
        .agg(mean_points = ("points", "mean"))
        .sort_values(by = "mean_points", ascending=False))
mean

          mean_points
driverId
830          4.666667
832          3.166667
844          2.833333
815          2.333333
847          2.166667
1            1.500000
822          1.500000
825          1.333333
846          1.000000
817          0.666667
839          0.500000
854          0.000000
853          0.000000
852          0.000000
849          0.000000
848          0.000000
840          0.000000
842          0.000000
841          0.000000
4            0.000000
20           0.000000
9            0.000000
8            0.000000
855          0.000000

<font size = "5">

(e) Rename column

<font size = "3">

- Rename the column "grid" to "grid_placement"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>
See Lecture 15

In [15]:
# Write your own code
sprint = sprint.rename(columns = {"grid": "grid_placement"})
sprint

,resultId,raceId,driverId,constructorId,number,grid_placement,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId,points_brackets
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1,0-20
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1,0-20
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1,0-20
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1,0-20
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1,0-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,1095,840,117,18,15,16,16,16,0,24,+50.700,1862007,4,1:15.425,1,0-20
116,117,1095,839,214,31,6,17,17,17,0,24,+51.756,1863063,5,1:16.097,1,0-20
117,118,1095,4,214,14,7,18,18,18,0,24,+53.985,1865292,5,1:14.764,1,0-20
118,119,1095,849,3,6,16,19,19,19,0,24,+1:16.850,1888157,4,1:16.525,1,0-20
119,120,1095,848,3,23,11,\N,R,20,0,12,\N,\N,4,1:15.998,31,0-20

<font size = "5">

(f) Merge dataset

<font size = "3">

- Create a new dataset with  ```pd.merge()``` using <br>
"sprint_results" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "nationality" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column. <br>
Be careful to notice that "constructorId" has an uppercase "I".

See Lecture 15

In [28]:
# Write your own code
results = pd.read_csv("data_raw/sprint_results.csv")
constructors = pd.read_csv("data_raw/constructors.csv")
sprint_merge = pd.merge(results,
                        constructors[["nationality"]],
                        on = "constructorId",
                        how = "left")

KeyError: 'constructorId'